.modalBackground {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.modalContainer {
    width: 95vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    background: white;
    color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 30px 20px;
    overflow-y: auto;
}

.modal {
    font-size: 1.2rem;
    transition: opacity .15s linear;
}

.modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #333;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.myField {
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid #6C6C6C;
    font-size: 16px;
    margin-top: 7px;
    font-weight: 400;
}

.myField:focus-visible {
    outline-color: rgb(55 64 240);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
}

.mobileFields {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.modalProfilLabel {
    color: #555;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
  }

.modalActions {
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 10;
}

.closeBtn > svg {
    max-width: 40px;
    max-height: 40px;
}

.error-msg-modal {
    font-size: 14px;
    font-style: italic;
    color: rgb(197 3 3);
    display: block;
    padding: 0.5rem 0.75rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    white-space: pre-line;
    text-align: left;
}