.modalBackground {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
}
.modalContainer {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    width: 95vw;
    height: 90vh;
    padding: 30px 20px;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    z-index: 10;
    border-radius: 10px;
    background: var(--secondary-color);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    padding: 30px 20px;
    overflow-y: auto;
}
.modal {
    font-size: 1.2rem;
    transition: opacity .15s linear;
}
.modalHeader {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    height: 50px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--secondary-color);
}
.heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #333;
}
.modalContent {
    font-size: 14px;
    padding: 10px;
    color: #333;
}
.myField {
    padding: 20px 10px;
    border: 1px solid #6C6C6C;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(188 188 188);
    border: 1px solid #6C6C6C;
    font-size: 16px;
    margin-top: 7px;
    font-weight: 400;
}

.myField:focus-visible {
    outline-color: rgb(55 64 240);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
}
.mobileFields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.modalProfilLabel {
    color: #555;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
  }

.modalActions {
    bottom: 2px;
    width: 100%;
    margin-bottom: 10px;
}
.actionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.closeBtn {
    z-index: 10;
    cursor: pointer;
    border: none;
    background: transparent;
}
.closeBtn > svg {
    max-width: 40px;
    max-height: 40px;
}
.error-msg-modal {
    font-size: 14px;
    font-style: italic;
    color: rgb(197 3 3);
    display: block;
    padding: 0.5rem 0.75rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    white-space: pre-line;
    text-align: left;
}