.set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2rem);
    min-height: 3rem;
    margin: 1rem auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}
.set-img {
    max-width: 50%;
    max-height: 2rem;
}