/*blockName*/
/*blockName_modifierName*/
/*blockName-elementName*/
/*blockName-elementName_modifierName*/
.mainLayout {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
    padding: .25rem;
    background-color: #eee;
}
.mainLayout-contentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 30px;
    background-color: var(--main-color);
    box-shadow: var(--midBlack-shadow);
}
.mainLayout-content {
    font-size: 1.25rem;
    overflow: scroll;
    flex-grow: 1;
    margin-bottom: 0.25rem;
    padding: 1.25rem;
    border: none;
    border-radius: 30px;
    background-color: var(--secondary-color);
    box-shadow: var(--midBlack-shadow);
}
.navbar {
    height: 3rem;
}
.navbar-button {
    border: none;
    background: none;
}
.navbar-container {
    font-size: var(--medium-fontSize);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-bottom: .25rem;
}
.menu-icon {
    display: block;
    cursor: pointer;
}
.navElements {
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    width: 0;
    height: 100vh;
    transition: all 0.3s ease-in;
    background-color: var(--secondary-color);
}
.navElements.active {
    width: 100%;
    background-color: var(--main-color);
}
.navElements-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navElements-headerButton {
    display: block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: auto;
    border: none;
    background: none;
}
.navElements-headerLogo {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.navElements-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40%;
    margin-top: 0;
    padding-inline-start: 0;
    padding: 0 2rem;
    list-style-type: none;
}
.navElements-li {
    margin-top: 1.25rem;
    margin-right: unset;
}
.navElements-li_MarginTop {
    margin-top: 0;
}
.navElements-linkText {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
}