/*blockName*/
/*blockName.modifierName*/
/*blockName-elementName*/
/*blockName-elementName.modifierName*/

.navBar {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.menu-icon {
    display: block;
    cursor: pointer;
}

.nav-elements {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    width: 0;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
}

.nav-elements.active {
    width: 100%;
    background-color: rgb(100, 106, 234);
}

.navElements-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navElements-header-button {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
}

.nav-elements ul {
    height: calc(80% - 4rem);
    list-style-type: none;
}

.nav-elements ul li {
    margin-right: unset;
    margin-top: 1.25rem;
}

.nav-elements ul li a {
    color: white;
}