.btn {
    font-size: var(--medium-fontSize);
    position: relative;
    margin: var(--space5) 0;
    padding: var(--space5);
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}
.yellowBtn {
    color: white;
    background-color: #E5CD24;
    box-shadow: 0 5px 5px var(--light-shadow);
}
.whiteBtn {
    color: #B49F11;
    background-color: white;
    box-shadow: 0 5px 5px var(--dark-shadow);
}
.purpleBtn {
    font-size: 1rem !important;
    color: var(--secondary-color);
    background-color: var(--main-color);
    box-shadow: 0 5px 5px var(--light-shadow);
}
.deleteBtn {
    font-size: 1rem !important;
    color: var(--secondary-color);
    background-color: var(--danger-color);
    box-shadow: 0 5px 5px var(--light-shadow);
}
@media only screen and (min-width: 600px) {
    .btn {
        position: relative;
        margin: var(--space5) var(--space12);
    }
}