.btn {
    position: relative;
    margin: 1.25rem 0;
    padding: 1.25rem;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}
.btn_mediumFontSize {
    font-size: var(--medium-fontSize);
}
.yellowBtn {
    color: white;
    background-color: #E5CD24;
    box-shadow: 0 5px 5px var(--light-shadow);
}
.whiteBtn {
    color: #B49F11;
    background-color: white;
    box-shadow: 0 5px 5px var(--dark-shadow);
}
.purpleBtn {
    color: var(--secondary-color);
    background-color: var(--main-color);
    box-shadow: 0 5px 5px var(--light-shadow);
}
.deleteBtn {
    color: var(--secondary-color);
    background-color: var(--danger-color);
    box-shadow: 0 5px 5px var(--light-shadow);
}
@media only screen and (min-width: 600px) {
    .btn {
        position: relative;
        margin: 1.25rem 3rem;
    }
}
@media only screen and (min-width: 768px) {
    .btn {
        position: relative;
        margin: 1.25rem 5rem;
    }
}
@media only screen and (min-width: 992px) {
    .btn {
        position: relative;
        margin: 1.25rem 3rem;
    }
}
@media only screen and (min-width: 1200px) {
    .btn {
        position: relative;
        margin: 1.25rem 3rem;
    }
}