.mainHome {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* justify-content: center; */
    min-height: 100vh;
    margin-bottom: 5px;
    /* padding: 1.25rem; */
    border: none;
    /* background-image: url("../../assets/img/home-2.png"), radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(99, 106, 242, 1) 53%); */
    background-repeat: no-repeat;
    /* background-position: 50% 100%; */
    box-shadow: rgba(0, 0, 0, 0.05) 0 4px 12px;
}
.container {
    display: inline-flex;
    height: 100vh;
}

.tcg-logo {
    width: 50%;
    max-width: 250px;
    margin-bottom: -80px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.sub-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  
        linear-gradient(90deg, rgba(220, 57, 57, .8), rgba(255,0,0,0) 70.71%),
        linear-gradient(180deg, rgba(100, 106, 234, 0.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(360deg, rgba(100, 106, 234, 0.8), rgba(0,255,0,0) 70.71%);
    width: 60vw;
    padding: 5% 10% 10% 10%;
    height: 100vh;
}

.title-intro {
    font-size: var(--large-fontSize);
}

.text-intro {
    font-size: var(--medium-fontSize);
}
.sub-container-2 {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}
.logoCard {
    width: 15rem;
}
.logoCardClickable {
    width: 18rem;
}

@media only screen and (min-width: 768px) {
    .logoCard {
        width: 25rem;
    }
    .logoCardClickable {
        width: 30rem;
    }
}
@media only screen and (min-width: 1200px) {
}