/*blockName*/
/*blockName_modifierName*/
/*blockName-elementName*/
/*blockName-elementName_modifierName*/
:root {
    /*COLOR*/
    --light-shadow: rgb(188, 188, 188);
    --dark-shadow: rgb(73, 73, 73);
    --black-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --main-color: rgb(100, 106, 234);
    --secondary-color: #fff;
    --light-color: #eee;
    --danger-color: rgb(220, 57, 57);
    /*FONT-SIZE*/
    --medium-fontSize: 1.5rem;
    --large-fontSize: 2rem;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--light-color);
}
.active {
    color: var(--light-color);
}
.title {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.contents {
    display: contents;
}
@media only screen and (min-width: 600px) {
    .width90 {
        width: 90%;
        margin: auto;
    }
}
